.ownList{

}
.ownList .ownLabel{
    width: 60px;
    margin-right: 5px;
    display: inline-block;
}
.ownList .ownContent{
    display: inline-block;
    vertical-align: top;
}
.ownColors .ownColor{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #e4e5e7;
    background: #fff;
}
.ownColors .ownColor:nth-child(1){
    border: 1px solid #cfcaeb;
    background: #cfcaeb;
}
.ownColors .ownColor:nth-child(2){
    border: 1px solid #deaed5;
    background: #deaed5;
}
.ownColors .ownColor:nth-child(3){
    border: 1px solid #b5d0ee;
    background: #b5d0ee;
}

.ownCustomers{
    margin-top: 10px;
}
.ownCustomers .ownCustomer{
    border: 1px solid #fddc38;
    border-radius:10px;
    display: inline-block;
    vertical-align: top;
    margin-right:5px;
    padding: 3px 8px;
}